{% extends "ticket/res_list.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content-header %}
    <h1>
        账户明细
    </h1>
    <ol class="breadcrumb">
        <li>
            <a class="blue" href="{% url 'card_add' %}">
                <button type="submit" class="btn btn-warning center-block" id="all_checked">
                    添加银行卡
                    <i class="ace-icon fa fa-shopping-cart icon-on-right bigger-110"></i>
                </button>
            </a>
        </li>
    </ol>
{% endblock %}
{% block table_tr %}
    <th>银行卡</th>
    <th>余额</th>
    <th>账户类型</th>
    <th>备注</th>
    <th>创建时间</th>
{% endblock %}
{% block table_td %}
    <td><a class="green" href="{% url 'card_edit' item.id %}" title="编辑信息">
        {{ item.name }}
    </a></td>
    <td>{{ item.money|floatformat:2|intcomma }}</td>
    <td>{% if item.card_type == 1 %}
        私户
    {% elif item.card_type == 2 %}
        公户
    {% endif %}</td>
    <td>{{ item.beizhu }}</td>
    <td>{{ item.pub_date }}</td>
{% endblock %}