{% extends "ticket/dashboard.html" %}
{% block content %}
    <section class="content-header">
        <h1>
            日报
            <small>下载</small>
        </h1>
    </section>

    <section class="content-header">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" method='POST' action=''>{% csrf_token %}
                    <div id="div_id_day" class="form-group">
                        <label for="id_day" class="control-label  requiredField">
                            日期<span class="asteriskField">*</span> </label>

                        <div class="input-group date">
                            <input type="text" name="day" class="form-control dateinput"
                               required="" id="id_day"><span class="input-group-addon"><i
                                class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger">获取</button>
                </form>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            {% for item in files %}
                <div class="col-md-3">
                    <a href="{% url 'dailyreport' %}?day={{ item }}" style="text-align: center"><h4>{{ item }}</h4></a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block script %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.input-group.date').datepicker({
                clearBtn: true,
                language: "zh-CN",
                format: 'yyyy-mm-dd',
                forceParse: false,
                daysOfWeekHighlighted: "0,6",
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
        });
    </script>

{% endblock %}
