{% extends "ticket/res_list_with_form.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content-header %}
    <h1>
        入池额度比例
    </h1>
{% endblock %}

{% block table_tr %}
    <td>资金池</td>
    <td>标签</td>
    <td>比例</td>
{% endblock %}
{% block table_td %}
    <td>{{ item.pool }}</td>
    <td><a class="green" href="{% url 'pool_percent_detail' item.id%}"
           title="查看信息">
        {{ item.tags }}
    </a></td>
    <td>{{ item.inpoolPer }}%</td>
{% endblock %}
{% block inmport_page %}

{% endblock %}
{% block form-header %}
    <h3 class="box-title">新建入池额度比例</h3>
{% endblock %}

{% block form-body %}
    {{ form |crispy }}
{% endblock %}
{% block initSelect %}
    $('#id_thetags').select2({
    height: '40px',
    tags: true
    });
{% endblock %}
{% block initTables %}
    $('#table_id').DataTable({
    'paging': true,
    'lengthChange': false,
    'searching': true,
    'ordering': true,
    'info': true,
    'autoWidth': false,
    'scrollY': 410,
    "language": {
    "processing": "处理中...",
    "lengthMenu": "显示 _MENU_ 项结果",
    "zeroRecords": "没有匹配结果",
    "info": "",
    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
    "infoFiltered": "(由 _MAX_ 项结果过滤)",
    "infoPostFix": "",
    "search": "搜索:",
    "searchPlaceholder": "搜索...",
    "url": "",
    "emptyTable": "表中数据为空",
    "loadingRecords": "载入中...",
    "infoThousands": ",",
    "paginate": {
    "first": "首页",
    "previous": "上页",
    "next": "下页",
    "last": "末页"
    },
    "aria": {
    "paginate": {
    'first': '首页',
    'previous': '上页',
    'next': '下页',
    'last': '末页'
    },
    "sortAscending": ": 以升序排列此列",
    "sortDescending": ": 以降序排列此列"
    },
    }
    });

{% endblock %}