{% extends "ticket/dashboard.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            借贷
            <small>{% if order.order_type == 3 %}应收款
        {% elif order.order_type == 4 %}应付款
        {% elif index == 5 %}预收款
        {% elif index == 6 %}预付款
        {% endif %}订单</small>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-3 ">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% if order.order_type == 4 %}贷款{% else %}借款{% endif %}信息：</h3>
                        {% if order.is_payed %}<span class="label label-danger pull-right">已完成</span>{% endif %}
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>借贷人:</th>
                                <td style="text-align:right;"><a>{{ order.jiedairen }}</a></td>
                            </tr>
                            <tr>
                                <th>借贷卡:</th>
                                <td style="text-align:right;"><a>{{ order.yinhangka }}</a></td>
                            </tr>
                            <tr>
                                <th>本金:</th>
                                <td style="text-align:right;"><a>{{ order.benjin|floatformat:2|intcomma }}</a></td>
                            </tr>
                            <tr>
                                <th>已{% if order.order_type == 4  %}还{% else %}收{% endif %}本金:</th>
                                <td style="text-align:right;"><a>{{ order.benjin_payed|floatformat:2|intcomma }}</a></td>
                            </tr>
                            <tr>
                                <th>累计利息:</th>
                                <td style="text-align:right;"><a>{{ order.lixi|floatformat:2|intcomma }}</a></td>
                            </tr>
                            <tr>
                                <th>已{% if order.order_type == 4  %}还{% else %}收{% endif %}利息:</th>
                                <td style="text-align:right;"><a>{{ order.lixi_payed|floatformat:2|intcomma }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>待{% if order.order_type == 4  %}还{% else %}收{% endif %}本金:</th>
                                <td style="text-align:right;{% if order.needpay_sum > 0 %}color: red{% endif %}">{{ order.benjin_needpay|floatformat:2|intcomma }}</td>
                            </tr>
                            <tr>
                                <th>待{% if order.order_type == 4  %}还{% else %}收{% endif %}利息:</th>
                                <td style="text-align:right;{% if order.needpay_lixi > 0 %}color: red{% endif %}">{{ order.lixi_needpay|floatformat:2|intcomma }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form method='POST' id="signupForm" action="" onsubmit="return check();">{% csrf_token %}
                <div class="col-md-3">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">新增{% if order.order_type == 4 %}
                                付款
                            {% elif order.order_type == 3 %}
                                收款
                            {% endif %}：</h3>
                        </div>
                        <div class="box-body">
                            {{ feeform | crispy }}
                        </div>

                        <div class="box-footer">

                            <input class="btn btn-primary" name="benjin" value="{% if order.order_type == 4  %}还{% else %}收{% endif %}本" type="submit">
                            <input class="btn btn-success" name="lixi" value="{% if order.order_type == 4  %}还{% else %}收{% endif %}息" type="submit">
                            <input class="btn btn-danger" style="display:none;" name="fee" value="费用" type="submit">
                        </div>

                    </div>

                </div>
            </form>
            <div class="col-md-6">
                <div>
                    {% include 'ticket/fee_list.html' %}
                </div>
                {% include 'ticket/pagination.html' %}
            </div>
        </div>
        <div class="row">

        </div>
    </section>

{% endblock %}

{% block script %}
    <!-- page script -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/initItems.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            initSortTable($('#table_id'));
            $('#div_id_fee_status').hide();
        });
    </script>

{% endblock %}
