{% extends "ticket/res_list.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content-header %}
    <h1>{% if index == 3 %}应收款
        {% elif index == 4 %}应付款
        {% elif index == 5 %}预收款
        {% elif index == 6 %}预付款
        {% endif %}列表
    </h1>
    <ol class="breadcrumb">
        <button type="button" class="btn btn-warning center-block" data-toggle="modal" data-target="#myModal">
            新建{% if index == 3 %}应收款
        {% elif index == 4 %}应付款
        {% elif index == 5 %}预收款
        {% elif index == 6 %}预付款
        {% endif %}
            <i class="ace-icon fa fa-shopping-cart icon-on-right bigger-110"></i>
        </button>
    </ol>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建{% if isloan %}贷款{% else %}借款{% endif %}</h4>
                </div>
                <form method='POST' id="signupForm" action="" onsubmit="return check();">{% csrf_token %}
                    <div class="modal-body">
                        {{ loanform | crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block table_tr %}
    <th>状态</th>
    <th>添加日期</th>
    <th>本金</th>
    <th>已{% if isloan %}还{% else %}收{% endif %}本金</th>
    <th>待{% if isloan %}还{% else %}收{% endif %}本金</th>
    <th>年利率</th>
    <th>计息日期</th>
    <th>利息</th>
    <th>已{% if isloan %}还{% else %}收{% endif %}利息</th>
    <th>待{% if isloan %}还{% else %}收{% endif %}利息</th>
    <th>结息日期</th>
{% endblock %}
{% block table_td %}
    <!--通过for循环从data取出的具体表格内容-->
    <td>{% if item.is_payed %}
        <span class="label label-success">已还清
    {% else %}
        <span class="label label-danger">待还
    {% endif %}
        </span></td>

    <td><a class="green" href="{% url 'loanorder' item.id %}" title="查看信息">
        {{ item.pub_date }}
    </a></td>
    <td>{{ item.benjin|floatformat:2|intcomma }}</td>
    <td>{{ item.benjin_payed|floatformat:2|intcomma }}</td>
    <td {% if item.benjin_needpay > 0 %}style="color: red"{% endif %}>{{ item.benjin_needpay|floatformat:2|intcomma }}</td>
    <td>{{ item.lilv|floatformat:2|intcomma }}%</td>
    <td>{{ item.lixi_begin_date }}</td>
    <td>{{ item.lixi|floatformat:2|intcomma }}</td>
    <td>{{ item.lixi_payed|floatformat:2|intcomma }}</td>
    <td {% if item.lixi_needpay > 0 %}style="color: red"{% endif %}>{{ item.lixi_needpay|floatformat:2|intcomma }}</td>
    <td>{{ item.lixi_sum_date|naturalday }}</td>

{% endblock %}


{% block initDatePicker %}
    initDatePicker($('.dateinput'));
{% endblock %}