{% extends "ticket/res_list.html" %}
{% load staticfiles %}

{% block content-header %}
    <h1>
        操作记录
    </h1>
{% endblock %}
{% block search_header %}
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">搜索</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                <form class="navbar-for navbar-container" role="search" method="get" action="">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-daterange input-group">
                                <span class="input-group-addon" id="date-picker">添加时间</span>
                                <input type="text" class="form-control dateinput" name="pub_date__gte" autocomplete="off"
                                       data-date-format="yyyy-mm-dd"
                                        {% if request.GET.pub_date__gte %} value=
                                            {{ request.GET.pub_date__gte }}{% endif %}>
                                <span class="input-group-addon">
                                <i class="fa fa-exchange"></i>
                            </span>
                                <input type="text" class="form-control dateinput" name="pub_date__lte" autocomplete="off"
                                       data-date-format="yyyy-mm-dd"
                                        {% if request.GET.pub_date__lte %} value=
                                            {{ request.GET.pub_date__lte }}{% endif %}>

                            </div>
                        </div>
                        <div class="col-sm-3">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-purple btn-sm">
										查询
										<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
									</button>
								</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block table_tr %}
    <th>添加时间</th>
    <th>操作类型</th>
    <th>相关票据卡</th>
    <th>详情</th>
{% endblock %}
{% block table_td %}
    <td>{{ item.pub_date }} </td>
    <td>{{ item.get_oper_type_display }}</td>
    <td>{% for i in item.detail %}
        <a class="green" href="
            {% if i.pktype == 1 %}
                {% url 'ticket_index' i.pk %}
            {% elif i.pktype == 2 %}
                {% url 'card_index' i.pk %}
            {% elif i.pktype == 3 %}
                {% url 'loanorder' i.pk %}
            {% elif i.pktype == 4 %}
                {% url 'pool_dash' %}
            {% elif i.pktype == 5 %}
                {% url 'pool_loan' i.pk %}
            {% elif i.pktype == 6 %}
                {% url 'ticket_payorder' i.pk%}
            {% elif i.pktype == 7 %}
                {% url 'ticket_sellorder' i.pk%}
            {% endif %}" title="查看"> {{ i.pk }}
            {% if not forloop.last %},{% endif %}
            {% if forloop.counter|divisibleby:4 %}<br/>{% endif %}
        </a>
    {% endfor %}</td>
    <td>
        {% for i in item.contdetail %}
            <span>{{ i.cont }}</span>
            {% if i.money > 0 %}
                <span style="color: red">+
            {% elif i.money < 0 %}
                <span class="color: text-green">
            {% endif %}
                {{ i.money }}</span>
            {% if not forloop.last %},{% endif %}
            {% if forloop.counter|divisibleby:3 %}<br/>{% endif %}
        {% endfor %}
    </td>
{% endblock %}
{% block initDatePicker %}
    $('.input-daterange').datepicker({
        language: "zh-CN",
        autoclose: true,
        todayHighlight: true, //自动关闭
        clearBtn: true,          //显示清除按钮
        format: 'yyyy-mm-dd'
    });;
{% endblock %}
