{% extends "ticket/res_list.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content-header %}
    <h1>
        操作记录
    </h1>
{% endblock %}
{% block search_header %}
    <div class="col-xs-12">
        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">搜索</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                <form class="navbar-for navbar-container" role="search" method="get" action="">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-daterange input-group">
                                <span class="input-group-addon" id="date-picker">添加时间</span>
                                <input type="text" class="form-control dateinput" name="search_date__gte"
                                       autocomplete="off"
                                       data-date-format="yyyy-mm-dd"
                                        {% if request.GET.search_date__gte %} value=
                                            {{ request.GET.search_date__gte }}{% endif %}>
                                <span class="input-group-addon">
                                <i class="fa fa-exchange"></i>
                            </span>
                                <input type="text" class="form-control dateinput" name="search_date__lte"
                                       autocomplete="off"
                                       data-date-format="yyyy-mm-dd"
                                        {% if request.GET.search_date__lte %} value=
                                            {{ request.GET.search_date__lte }}{% endif %}>

                            </div>
                        </div>
                        <div class="col-sm-3">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-purple btn-sm">
										查询
										<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
									</button>
								</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block table_tr %}
    <th>添加时间</th>
    <th>操作类型</th>
    <th>相关票据卡</th>
    <th>详情</th>
    <th>操作员</th>
{% endblock %}
{% block table_td %}
    <td>{{ item.pub_date }} </td>
    <td>{{ item.get_oper_type_display }}</td>
    <td>{% for i in item.detail %}
        {% if i.pktype == 1 %}
            <a class="green" href="{% url 'ticket_index' i.pk %}">票据{{ i.pk }}</a>
        {% elif i.pktype == 2 %}
            <a class="green" href="{% url 'ticket_order' i.pk %}">票据订单{{ i.pk }}</a>
        {% elif i.pktype == 3 %}
            <a class="green" href="{% url 'loanorder' i.pk %}">借贷订单{{ i.pk }}</a>
        {% elif i.pktype == 4 %}
            <a class="green" href="{% url 'pool_dash' %}">资金池{{ i.pk }}</a>
        {% elif i.pktype == 9 %}
            <a class="green" href="{% url 'pool_detail' i.pk %}">资金池{{ i.pk }}</a>
        {% elif i.pktype == 41 %}
            <a class="green" href="{% url 'pre_collect_list' i.pk %}">预收款{{ i.pk }}</a>
        {% elif i.pktype == 42 %}
            <a class="green" href="{% url 'pre_pay_list' i.pk %}">预付款{{ i.pk }}</a>
        {% elif i.pktype == 5 %}
            <a class="green" href="{% url 'card_edit' i.pk %}">银行卡{{ i.pk }}</a>
        {% elif i.pktype == 6 %}
            <a class="green" href="{% url 'pool_dash' %}">保证金{{ i.pk }}</a>
        {% elif i.pktype == 7 %}
            <a class="green" href="{% url 'pool_loan' i.pk %}">超短贷{{ i.pk }}</a>
        {% elif i.pktype == 8 %}
            <a class="green" href="{% url 'pool_licai_lists' %}?pk={{ i.pk }}">理财{{ i.pk }}</a>
        {% endif %}
        {% if not forloop.last %},{% endif %}
        {% if forloop.counter|divisibleby:4 %}<br/>{% endif %}
    {% endfor %}</td>
    <td>
        {% for i in item.contdetail %}
            <span>{{ i.cont }}</span>
            <span style="color: {% if i.money > 0 %}
                red">+
            {% elif i.money < 0 %}
                green">
            {% endif %}
            {{ i.money|floatformat:2|intcomma }}</span>
            {% if not forloop.last %},{% endif %}
            {% if forloop.counter|divisibleby:3 %}<br/>{% endif %}
        {% endfor %}
    </td>
    <td>{{ item.username }} </td>
{% endblock %}
{% block initDatePicker %}
    initDatePicker($('.input-daterange'));
{% endblock %}
