{% extends "ticket/res_list.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content-header %}
    <h1>
        超短贷
    </h1>
{% endblock %}
{% block table_tr %}
    <th>状态</th>
    <th>添加日期</th>
    <th>本金</th>
    <th>已还本金</th>
    <th>待还本金</th>
    <th>计息日期</th>
    <th>利息</th>
    <th>已还利息</th>
    <th>待还利息</th>
    <th>结息日期</th>
{% endblock %}
{% block table_td %}
    <!--通过for循环从data取出的具体表格内容-->
    <td>{% if item.is_payed %}
        <span class="label label-success">已还清
    {% else %}
        <span class="label label-danger">待还
    {% endif %}
        </span></td>
    <td><a class="green" href="{% url 'pool_loan' item.id %}" title="查看信息">
        {{ item.pub_date }}
    </a></td>
    <td>{{ item.benjin|floatformat:2|intcomma }}</td>
    <td>{{ item.benjin_payed|floatformat:2|intcomma }}</td>
    <td {% if item.benjin_needpay > 0 %}style="color: red"{% endif %}>{{ item.benjin_needpay|floatformat:2|intcomma }}</td>
    <td>{{ item.lixi_begin_date }}</td>
    <td>{{ item.lixi|floatformat:2|intcomma }}</td>
    <td>{{ item.lixi_payed|floatformat:2|intcomma }}</td>
    <td {% if item.lixi_needpay > 0 %}style="color: red"{% endif %}>{{ item.lixi_needpay|floatformat:2|intcomma }}</td>
    <td>{{ item.lixi_sum_date|naturalday }}</td>

{% endblock %}

