{% extends "ticket/dashboard.html" %}
{% load staticfiles %}
{% load humanize %}

{% load crispy_forms_tags %}
{% load static %}

{#{% load material_form %}#}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            资金池
            <small>概览</small>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-xs-3">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">信息：</h3>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>总额度 :</th>
                                <td style="text-align:right;">{{ dash.edu_keyong|add:dash.edu_yiyong|floatformat:2|intcomma }}</td>
                            </tr>
                            <tr>
                                <th>可用额度 :</th>
                                <td style="text-align:right;">{{ dash.edu_keyong|floatformat:2|intcomma }}</td>
                            </tr>
                            <tr>
                                <th>已用额度:</th>
                                <td style="text-align:right;">{{ dash.edu_yiyong|floatformat:2|intcomma }}</td>
                            </tr>
                            <tr>
                                <th>入池票:{{ count_t }}张</th>
                                <td style="text-align:right;"><a
                                        href="{% url 'ticket_list' %}?t_status=5&daoqiriqi__gte={{ today }}">{{ dash.edu_chineipiao|floatformat:2|intcomma }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>保证金:</th>
                                <td style="text-align:right;">{{ dash.edu_baozhengjin|floatformat:2|intcomma }}</td>
                            </tr>
                            <tr>
                                <th>理财:</th>
                                <td style="text-align:right;"><a
                                        href="{% url 'pool_licai_lists' %}">{{ dash.edu_licai|floatformat:2|intcomma }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>超短贷:</th>
                                <td style="text-align:right;"><a
                                        href="{% url 'super_loan_lists' %}">{{ dash.edu_chaoduandai|floatformat:2|intcomma }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>池开票:{{ count_chikai }}张</th>
                                <td style="text-align:right;"><a
                                        href="{% url 'ticket_list' %}?gouruzijinchi=True">{{ sum_chikai }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <form method='POST' action=''>{% csrf_token %}
                    <!-- left column -->
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">保证金：</h3>
                        </div>
                        <div class="box-body">
                            {{ form|crispy }}
                        </div>
                        <div class="box-footer">
                            <input class="btn btn-primary" value="提交" type="submit">
                        </div>
                        <!-- /.box-body -->
                    </div>
                </form>
            </div>
            <form method='POST' id="signupForm" action=""
                  onsubmit="return check();">{% csrf_token %}
                <div class="col-md-3">

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">新增超短贷：</h3>
                        </div>
                        <div class="box-body">
                            {{ loanform | crispy }}
                        </div>

                        <div class="box-footer">
                            <input class="btn btn-primary" value="提交" type="submit" id="add_fee">
                        </div>
                    </div>

                </div>
            </form>
            <form method='POST' action=""
                  onsubmit="return check();">{% csrf_token %}
                <div class="col-md-3">

                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">新增理财：</h3>
                        </div>
                        <div class="box-body">
                            {{ pool_licai_form | crispy }}
                        </div>

                        <div class="box-footer">
                            <input class="btn btn-primary" value="提交" type="submit" id="add_fee">
                        </div>
                    </div>

                </div>
            </form>

            <div class="col-md-12">
                <div class="row">
                    <div>
                        {% include 'ticket/fee_list.html' %}
                    </div>
                    <!--引入pagination.html-->
                    {% include 'ticket/pagination.html' %}
                </div>

            </div>


        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/initItems.js' %}"></script>
    <script>
        initSortTable($('#table_id'));
        initDatePicker($('.dateinput'));
    </script>
{% endblock %}
