{% extends "ticket/dashboard.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{#{% block extrahead %}#}
{#    {{ block.super }}#}
{#        {% include 'material/includes/material_css.html' %}#}
{#    {% include 'material/includes/material_js.html' %}#}
{##}
{#{% endblock %}#}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">

    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.js"></script>
{% endblock %}

{% load crispy_forms_tags %}
{#{% load material_form %}#}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            票据
            <small>新增</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">票据</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <form method='POST' id="signupForm" action='' onsubmit="return check();">{% csrf_token %}
                <!-- left column -->
                <div class="col-md-4">
                    <!-- general form elements -->
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">基本信息</h3>
                        </div>
                        <div class="box-body">
                            {{ form.t_status |as_crispy_field}}
                            {{ form.qianpaipiaohao |as_crispy_field}}
                            {{ form.piaohao |as_crispy_field}}
                            {{ form.chupiaohang |as_crispy_field}}
                            {{ form.chupiaoriqi |as_crispy_field}}
                            {{ form.daoqiriqi |as_crispy_field}}
                            {{ form.piaomianjiage |as_crispy_field}}
                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">买入信息</h3>
                        </div>
                        <div class="box-body">
                             {{ form.gongyingshang |as_crispy_field}}
                             {{ form.gouruhuilv |as_crispy_field}}
                            <div id="div_id_gourujiage" class="form-group"><label for="id_gourujiage"
                                                                                  class="control-label  requiredField">
                                购入价格<span class="asteriskField">*</span> </label>
                                <div class="controls "><input name="gourujiage" step="any" value="0"
                                                              class="numberinput form-control" required="" disabled=""
                                                              id="id_gourujiage" type="number"></div>
                            </div>
                             {{ form.gouruzijinchi |as_crispy_field}}
                             {{ form.gourucard |as_crispy_field}}
                             {{ form.pay_status |as_crispy_field}}

                        </div>

                    </div>
                    <div class="box box-danger">
                        <div class="box-body">
                             {{ form.fenshu |as_crispy_field}}

                        </div>
                        <div class="box-footer">
                            <input class="btn btn-primary" value="提交" type="submit">
                            <a><input class="btn btn-default" value="取消" type="button"></a>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-4">
                    <!-- Horizontal Form -->
                    <div class="box box-info" id="sellinfo">
                        <div class="box-header with-border">
                            <h3 class="box-title">卖出信息</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">
                             {{ form.maichulilv |as_crispy_field}}
                             {{ form.maichujiage |as_crispy_field}}
                             {{ form.maichucard |as_crispy_field}}
                             {{ form.maipiaoren |as_crispy_field}}
                             {{ form.sell_status |as_crispy_field}}
                        </div>
                        <!-- /.box-body -->
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </form>
        </div>
    </section>

{% endblock %}

{% block script %}

    <!-- bootstrap datepicker -->
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(function () {

            //Date picker
            $.fn.datepicker.dates['cn'] = {   //切换为中文显示
                days: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
                daysShort: ["日", "一", "二", "三", "四", "五", "六", "七"],
                daysMin: ["日", "一", "二", "三", "四", "五", "六", "七"],
                months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                today: "今天",
                clear: "清除"
            };
            $('.dateinput').datepicker({
                autoclose: true, //自动关闭
                clearBtn: true,          //显示清除按钮
                format: 'yyyy/mm/dd',
                language: 'cn',           //语言
            });
            $("#id_t_status").bind("change", function () {
                if (this.value == "1") {
                    $("#sellinfo").hide();
                } else if (this.value == "3") {
                    $("#sellinfo").show();
                } else if (this.value == "5") {
                    $("#sellinfo").hide();
                }
            });
            $("#id_gouruzijinchi").change(function () {
                if ($("#id_gouruzijinchi").is(":checked")) {
                    $("#div_id_gourucard").hide();

                } else {
                    $("#div_id_gourucard").show();
                }
            });
            $("#sellinfo").hide();
        });

    </script>

{% endblock %}
