{% extends "ticket/res_list.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content-header %}
    <h1>
        票据
        <small>{% if index == 1 %}付款{% else %}收款{% endif %}列表</small>
    </h1>
    <ol class="breadcrumb">
        <a class="blue" href="{% if index == 1 %}{% url 'ticket_needpay' %}{% else %}{% url 'ticket_needcollect' %}{% endif %}">
            <button type="submit" class="btn btn-warning center-block" id="all_checked">
                新建{% if index == 1 %}付款{% else %}收款{% endif %}
                <i class="ace-icon fa fa-shopping-cart icon-on-right bigger-110"></i>
            </button>
        </a>
    </ol>
{% endblock %}

{% block table_tr %}
    <th style="display: none">ID</th>
    <th>添加日期</th>
    <th>{% if index == 1 %}付款{% else %}收款{% endif %}人</th>
    <th>合计票面价格</th>
    <th>合计应{% if index == 1 %}付款{% else %}收款{% endif %}金额</th>
    <th>已{% if index == 1 %}支付{% else %}收取{% endif %}金额</th>
    <th>剩余金额</th>
    <th>完成状态</th>
{% endblock %}
{% block table_td %}
    <th style="display: none">{{ item.id }}</th>
    <td><a class="green" href="{% url 'ticket_order' item.id %}" title="查看信息">
                                {{ item.pub_date }}
                            </a></td>
    <td>{{ item.customer }}</td>
    <td>{{ item.ticket_sum|floatformat:2|intcomma }}</td>
    <td>{{ item.money|floatformat:2|intcomma }}</td>
    {#                            <td>{{ item.total_sum }}</td>#}
    <td>{{ item.payfee_sum|floatformat:2|intcomma }}</td>
    <td>{{ item.needpay_sum|floatformat:2|intcomma }}</td>
    <td>
        {% if item.needpay_sum == 0 %}
            <span class="label label-success">已完成
        {% elif item.needpay_sum > 0 %}
            <span class="label label-danger">未完成
        {% endif %}
        </span></td>
{% endblock %}