{% extends "ticket/dashboard.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">

{#    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.js"></script>#}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            票据
            <small>编辑</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">票据</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <form method='POST' id="signupForm" action='' onsubmit="return check();">{% csrf_token %}
                <!-- left column -->
                <div class="col-md-4">
                    <!-- general form elements -->
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">基本信息</h3>
                        </div>
                        <div class="box-body">
                            {{ form.t_status |as_crispy_field }}
                            {{ form.pool_in |as_crispy_field }}
                            {{ form.t_type |as_crispy_field }}
                            {{ form.qianpaipiaohao |as_crispy_field }}
                            {{ form.piaohao |as_crispy_field }}
                            <div id="div_id_chupiaohang" class="form-group">
                                <label for="id_chupiaohang" class="control-label  requiredField">
                                    出票行<span class="asteriskField">*</span>
                                </label>
                                <div class="controls ">
                                    <select class="js-single form-control" name="chupiaohang" id="id_chupiaohang"
                                            required>
                                        {% for v in chupiaohang %}
                                            <option value="{{ v }}"
                                            {% if v == ticket_ins.chupiaohang %}selected = ""{% endif %}>{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {{ form.chupiaoriqi |as_crispy_field }}
                            {{ form.daoqiriqi |as_crispy_field }}
                        </div>
                    </div>

                </div>
                <div class="col-md-4">

                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">买入信息</h3>
                        </div>
                        <div class="box-body">
                            <div id="div_id_gongyingshang" class="form-group">
                                <label for="id_gongyingshang" class="control-label  requiredField">
                                    供应商<span class="asteriskField">*</span>
                                </label>
                                <div class="controls ">
                                    <select class="js-single form-control" name="gongyingshang" id="id_gongyingshang"
                                            required>
                                        {% for v in gongyingshang %}
                                            <option value="{{ v }}"
                                            {% if v == ticket_ins.gongyingshang %}selected = ""{% endif %}>{{ v }}</option>>{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {{ form.piaomianjiage |as_crispy_field }}
                            {{ form.gourujiage |as_crispy_field }}
                            {{ form.gouruzijinchi |as_crispy_field }}
                            {{ form.pool_buy |as_crispy_field }}
                        </div>

                    </div>
                    <div class="box box-danger">
                        <div class="box-body">

                        </div>
                        <div class="box-footer">
                            <input class="btn btn-primary" value="提交" type="submit">
                            <a><input class="btn btn-default" value="取消" type="button"></a>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </form>
            {% if ticket_ins.t_status == 2 %}
                {% include "ticket/tool_counter.html" %}
            {% else %}
            <div class="col-md-4">
                <div class="box box-info" id="sellinfo">
                    <div class="box-header with-border">
                        <h3 class="box-title">卖出信息</h3>
                    </div>
                    <div class="box-body">
                        {{ form.sell_status |as_crispy_field }}
                        {{ form.maipiaoren |as_crispy_field }}
                        {{ form.maichujiage |as_crispy_field }}
                        {{ form.lirun |as_crispy_field }}
                    </div>
                </div>
            </div>
            {% endif %}>

        </div>
    </section>

{% endblock %}

{% block script %}

    <!-- bootstrap datepicker -->
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'plugins/initItems.js' %}"></script>
    <script src="{% static 'plugins/tiexian.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.js-single').select2({
                tags: true
            });

            //Date picker
            initDatePicker($('.input-daterange'));
            initDatePicker($('#id_chupiaoriqi'));
            initDatePicker($('#id_daoqiriqi'));
            $("#div_id_pool_in").hide()

            $("#id_t_status option[value='3']").remove();
            $("#id_t_status option[value='7']").remove();
            $("#id_t_status").change(function () {
                var ss = $(this).children('option:selected').val();
                if (ss != '5') {
                    $("#div_id_pool_in").hide()
                    $("#id_pool_in").val("")
                    $("#id_pool_in").removeAttr('required');
                } else {
                    $("#div_id_pool_in").show()
                    $("#id_pool_in").prop("required", "true");
                }
            });
            $("#id_gouruzijinchi").change(function () {
                if ($("#id_gouruzijinchi").is(':checked')) {
                    $("#div_id_gongyingshang").hide()
                    $("#id_gongyingshang").removeAttr('required');
                    $("#div_id_pool_buy").show()
                    $("#id_pool_buy").prop("required", "true");
                } else {
                    $("#div_id_gongyingshang").show()
                    $("#id_gongyingshang").prop("required", "true");
                    $("#div_id_pool_buy").hide()
                    $("#id_pool_buy").val("")
                    $("#id_pool_buy").removeAttr('required');
                }
            });
        });

        function exportbtn() {
            $("#id_piaomianjiage").val($("input[name='je']").val() * 10000);
            console.log($("#t_gourujiage").text())
            $("#id_gourujiage").val($("#real_jine").text());
        }
        $("#exportbtn").val('填入');
        $("#exportbtn").show();

    </script>

{% endblock %}
