{% extends "ticket/dashboard.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            票据
            <small>待补充</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">票据</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">

            <div class="col-xs-12">
                <table id="table_id" class="table table-bordered table-hover">
                    <thead>
                    <!--表格头部-->
                    <th></th>
                    <th style="display: none">ID</th>
                    <th>购买日期</th>
                    <th>出票行</th>
                    <th>供应商</th>
                    <th>票面价格</th>
                    <th>购入价格</th>
                    <th>出票日期</th>
                    <th>到期日期</th>
                    <th>状态</th>
                    </thead>
                    <!--表格内容-->
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <!--通过for循环从data取出的具体表格内容-->
                            <td></td>
                            <th style="display: none">{{ item.id }}</th>
                            <td><a class="green" href="{% url 'ticket_index' item.id %}" title="查看信息">
                                {{ item.goumairiqi }}
                            </a></td>
                            <td>{{ item.chupiaohang }}</td>
                            <td>{{ item.gongyingshang }}</td>
                            <td>{{ item.piaomianjiage }}</td>
                            <td>{{ item.gourujiage }}</td>
                            <td>{{ item.chupiaoriqi }}</td>
                            <td>{{ item.daoqiriqi }}</td>
                            <td>
                                {% if item.t_status == 1 %}
                                    <span class="label label-success">在库
                                {% elif item.t_status == 3 %}
                                    <span class="label label-danger">卖出
                                {% elif item.t_status == 5 %}
                                    <span class="label label-info">入池
                                {% endif %}
                                </span></td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <!-- page script -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#all_checked").click(function () {
                var a = t.rows('.selected').data();
                console.log(a.length);

                for (var i = 0; i < a.length; i++) {
                    console.log(a[i][1]);
                }

            });
            var t = $('#table_id').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "language": {
                    "processing": "处理中...",
                    "lengthMenu": "显示 _MENU_ 项结果",
                    "zeroRecords": "没有匹配结果",
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "infoFiltered": "(由 _MAX_ 项结果过滤)",
                    "infoPostFix": "",
                    "search": "搜索:",
                    "searchPlaceholder": "搜索...",
                    "url": "",
                    "emptyTable": "表中数据为空",
                    "loadingRecords": "载入中...",
                    "infoThousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上页",
                        "next": "下页",
                        "last": "末页"
                    },
                    "aria": {
                        "paginate": {
                            'first': '首页',
                            'previous': '上页',
                            'next': '下页',
                            'last': '末页'
                        },
                        "sortAscending": ": 以升序排列此列",
                        "sortDescending": ": 以降序排列此列"
                    },
                    "decimal": "-",
                    "thousands": "."
                },
                "columnDefs": [ {
                    "orderable": false, "targets": [0],  //设置第一列和最后一列不可排序
                }],
                "order": [[1, 'asc']]
            });
            $('#table_id tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                var a = t.rows('.selected').data();
                console.log(a.length);
                $("#selected_num").text(a.length);
                var total = 0;
                var totalgouru = 0;
                var ids = '';
                for (var i = 0; i < a.length; i++) {
                    console.log(a[i][1]);
                    total = total + parseFloat(a[i][5]);
                    totalgouru = totalgouru + parseFloat(a[i][6]);
                    ids = ids + parseFloat(a[i][1]) + ',';

                }
                 ids=(ids.substring(ids.length-1)==',')?ids.substring(0,ids.length-1):ids;

                $("#selected_piaomian").text(total);
                $("#id_selected_piaomian").val(total);
                $("#selected_gouru").text(totalgouru);
                $("#id_selected_real").val(totalgouru);
                $("#id_selected_num").val(a.length);
                $("#id_ids").val(ids);

            });
            t.on('order.dt search.dt',
                function () {
                    t.column(0, {
                        search: 'applied',
                        order: 'applied'
                    }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();

        })
        ;
    </script>


    <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'plugins/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <!-- bootstrap datepicker -->
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(function () {

            $('input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //Enable check and uncheck all functionality
            $(".checkbox-toggle").click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    //Uncheck all checkboxes
                    $("input[type='checkbox']").iCheck("uncheck");
                    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                } else {
                    //Check all checkboxes
                    $("input[type='checkbox']").iCheck("check");
                    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                }
                $(this).data("clicks", !clicks);
            });
            //Date picker
            $.fn.datepicker.dates['cn'] = {   //切换为中文显示
                days: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
                daysShort: ["日", "一", "二", "三", "四", "五", "六", "七"],
                daysMin: ["日", "一", "二", "三", "四", "五", "六", "七"],
                months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                today: "今天",
                clear: "清除"
            };
            $('.dateinput').datepicker({
                autoclose: true, //自动关闭
                clearBtn: true,          //显示清除按钮
                format: 'yyyy-mm-dd',
                language: 'cn',           //语言
            });
            $('#reservation').daterangepicker()
        });

    </script>

{% endblock %}
