{% extends "ticket/dashboard.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            票据
            <small>{{ title }}订单预览</small>
        </h1>
    </section>

    <section class="content">
        <div class="row">

            <div class="col-xs-12">
                <table id="table_id" class="table table-bordered table-hover">
                    <thead>
                    <!--表格头部-->
                    <th></th>
                    <th style="display: none">ID</th>
                    <th>购买日期</th>
                    <th>出票行</th>
                    <th>供应商</th>
                    <th>票面价格</th>
                    <th>购入价格</th>
                    <th>出票日期</th>
                    <th>到期日期</th>
                    <th>状态</th>
                    </thead>
                    <!--表格内容-->
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <!--通过for循环从data取出的具体表格内容-->
                            <td></td>
                            <th style="display: none">{{ item.id }}</th>
                            <td><a class="green" href="{% url 'ticket_index' item.id %}" title="查看信息">
                                {{ item.goumairiqi }}
                            </a></td>
                            <td>{{ item.chupiaohang }}</td>
                            <td>{{ item.gongyingshang }}</td>
                            <td>{{ item.piaomianjiage }}</td>
                            <td>{{ item.gourujiage }}</td>
                            <td>{{ item.chupiaoriqi }}</td>
                            <td>{{ item.daoqiriqi }}</td>
                            <td>
                                {% if item.t_status == 1 %}
                                    <span class="label label-success">在库
                                {% elif item.t_status == 3 %}
                                    <span class="label label-danger">卖出
                                {% elif item.t_status == 5 %}
                                    <span class="label label-info">入池
                                {% endif %}
                                </span></td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="col-md-3" style="display: none">

                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">新增费用：</h3>
                    </div>
                    <div class="box-body">
                        {{ feeform | crispy }}
                    </div>

                    <button type="submit" class="btn btn-danger center-block" id="add_fee">
                        添加
                        <i class="ace-icon fa fa-cart-plus icon-on-right bigger-110"></i>
                    </button>
                </div>

            </div>
            <div class="col-md-6" style="display: none">
                <div>
                    <table id="table_id" class="table table-striped table-bordered table-hover">
                        <thead>
                        <!--表格头部-->
                        <th>费用内容</th>
                        <th>金额</th>
                        <th>相关银行卡</th>
                        <th></th>
                        </thead>
                        <!--表格内容-->
                        <tbody id="thebody">

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-xs-3 pull-right">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ title }}订单信息:：</h3>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>已选择:</th>
                                <td style="text-align:right;"><a id="selected_num">{{ selected_num }}</a><b>张</b>
                                </td>
                            </tr>
                            <tr>
                                <th>票面价格:</th>
                                <td style="text-align:right;"><a
                                        id="selected_piaomian">{{ selected_piaomian }}</a><b>元</b></td>
                            </tr>
                            <tr>
                                <th>购入价格:</th>
                                <td style="text-align:right;"><a id="selected_real">{{ selected_real }}</a><b>元</b>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <form method='POST' action="{% url 'ticket_createorder' %}" id="signupForm"
                              onsubmit="return check();">{% csrf_token %}
                            <input name="ordertype" value="1" style="display: none"
                                   class="textinput textInput form-control"
                                   id="id_ordertype" type="text">
                            <input name="fees" value="{}" style="display: none"
                                   class="textinput textInput form-control"
                                   id="id_fees" type="text">
                            <input name="ids" value="{{ ids }}" style="display: none"
                                   class="textinput textInput form-control"
                                   id="id_ids" type="text">
                            <button type="submit" class="btn btn-warning center-block" id="all_checked">
                                生成{{ title }}订单
                                <i class="ace-icon fa fa-shopping-cart icon-on-right bigger-110"></i>
                            </button>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block script %}
    <!-- page script -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>

    <script type="text/javascript">
        function delItem(that) {
            console.log('delItem');
            console.log($(that).html());
            $(that).parent().parent().remove();
            sumFees();
        }
        function sumFees(that) {
            var fees = new Array();
            $("#thebody").find('tr').each(function (i, val) {
                var fee = new Object();
                fee.money = $(this).attr('data-money');
                fee.name = $(this).attr('data-name');
                fee.cardid = $(this).attr('data-cardid');
                fees.push(fee);
                console.log(fee);
            });
            console.log(fees);
            $("#id_fees").val(JSON.stringify(fees));

        }
        $(document).ready(function () {
            var t = $('#table_id').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                'scrollY': 250,
                "language": {
                    "processing": "处理中...",
                    "lengthMenu": "显示 _MENU_ 项结果",
                    "zeroRecords": "没有匹配结果",
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "infoFiltered": "(由 _MAX_ 项结果过滤)",
                    "infoPostFix": "",
                    "search": "搜索:",
                    "searchPlaceholder": "搜索...",
                    "url": "",
                    "emptyTable": "表中数据为空",
                    "loadingRecords": "载入中...",
                    "infoThousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上页",
                        "next": "下页",
                        "last": "末页"
                    },
                    "aria": {
                        "paginate": {
                            'first': '首页',
                            'previous': '上页',
                            'next': '下页',
                            'last': '末页'
                        },
                        "sortAscending": ": 以升序排列此列",
                        "sortDescending": ": 以降序排列此列"
                    },
                    "decimal": "-",
                    "thousands": "."
                },
                "columnDefs": [{
                    'data': null,
                    "orderable": false,
                    "targets": 0,
                    'defaultContent': "<input type ='checkbox' name='test' class='icheckbox_minimal' value=''>",
                }, {
                    "orderable": false, "targets": [0],  //设置第一列和最后一列不可排序
                }],
                "order": [[1, 'asc']]
            });
            t.on('order.dt search.dt',
                function () {
                    t.column(0, {
                        search: 'applied',
                        order: 'applied'
                    }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();


            $("#add_fee").click(function () {
                x = ($('#id_yinhangka').find("option:selected").val());
                if (x == null || x == "") {
                    alert("请选择银行卡")
                } else {
                    var trr = "<tr " +
                        "data-money='" + $('#id_money').val() + "' " +
                        "data-name='" + $('#id_name').val() + "' " +
                        "data-cardid='" + $('#id_yinhangka').find("option:selected").val() + "' " +
                        ">"
                        + "<td>" + $('#id_name').val() + "</td><td>" + $('#id_money').val() + "</td><td>" + $('#id_yinhangka').find("option:selected").text()
                        + '<td><button type="button" onclick="delItem(this)" class="btn btn-danger">删除</button></td>' + "</td></tr>";

                    $('#thebody').append(trr);
                    sumFees();
                }
            });
        });
    </script>

{% endblock %}
