{% extends "ticket/res_list.html" %}
{% load staticfiles %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content-header %}
    <h1>
        票据导入预览
    </h1>
    <ol class="breadcrumb">
        {% if not info.is_saved %}
            <li>
                <form method='POST' action="" id="signupForm" class="form-inline  pull-right"
                      onsubmit="return check();">{% csrf_token %}
                    <a class="blue" href="{% url 'ticket_add' %}">
                        <button type="submit" class="btn btn-warning center-block" id="all_checked">
                            保存票据
                            <i class="ace-icon fa fa-shopping-cart icon-on-right bigger-110"></i>
                        </button>
                    </a>
                </form>

            </li>
        {% endif %}
    </ol>
{% endblock %}
{% block content_body %}
    <div class="row">
        <div>
            <table id="table_id" class="table table-striped table-bordered table-hover">
                {% if info.import_type == 1 %}
                    <thead>
                    <td></td>
                    <th style="display: none">ID</th>
                    <th>购买日期</th>
                    <th>前排票号</th>
                    <th>票号</th>
                    <th>出票行</th>
                    <th>出票日期</th>
                    <th>到期日期</th>
                    <th>票面价格</th>
                    <th>购入价格</th>
                    <th>供应商</th>
                    <th>备注</th>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <!--通过for循环从data取出的具体表格内容-->
                            <td>{{ forloop.counter }}</td>
                            <th style="display: none">{{ item.id }}</th>
                            <td> {{ item.goumairiqi }}</td>
                            <td> {{ item.qianpaipiaohao }}</td>
                            <td> {{ item.piaohao }}</td>
                            <td>{{ item.chupiaohang }}</td>
                            <td>{{ item.chupiaoriqi }}</td>
                            <td>{{ item.daoqiriqi }}</td>
                            <td>{{ item.piaomianjiage|floatformat:2|intcomma }}</td>
                            <td>{{ item.gourujiage|floatformat:2|intcomma }}</td>
                            <td>{{ item.gongyingshang }}</td>
                            <td>{{ item.beizhu }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% elif info.import_type == 2 %}
                    <thead>
                    <!--表格头部-->
                    <td></td>
                    <th style="display: none">ID</th>
                    <th>类型</th>
                    <th>供应商</th>
                    <th>票号</th>
                    <th>出票行</th>
                    <th>票面价格</th>
                    <th>出票日期</th>
                    <th>到期日期</th>
                    <th>入池日期</th>
                    <th>质押率</th>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <!--通过for循环从data取出的具体表格内容-->
                            <td>{{ forloop.counter }}</td>
                            <th style="display: none">{{ item.id }}</th>
                            <td>
                                {% if item.t_type == 1 %}
                                    <span class="label label-danger">纸
                                {% elif item.t_type == 2 %}
                                    <span class="label label-success">电
                                {% endif %}
                                </span></td>
                            <td> {{ item.gongyingshang }}</td>
                            <td> {{ item.piaohao }}</td>
                            <td>{{ item.chupiaohang }}</td>
                            <td>{{ item.piaomianjiage|floatformat:2|intcomma }}</td>
                            <td>{{ item.chupiaoriqi }}</td>
                            <td>{{ item.daoqiriqi }}</td>
                            <td>{{ item.pool_in_riqi }}</td>
                            <td>{{ item.zhiyalv }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% elif info.import_type == 3 %}
                    <thead>
                    <!--表格头部-->
                    <td></td>
                    <th style="display: none">ID</th>
                    <th>供应商</th>
                    <th>票号</th>
                    <th>出票行</th>
                    <th>票面价格</th>
                    <th>出票日期</th>
                    <th>到期日期</th>
                    <th>买票人</th>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <!--通过for循环从data取出的具体表格内容-->
                            <td>{{ forloop.counter }}</td>
                            <th style="display: none">{{ item.id }}</th>
                            <td> {{ item.gongyingshang }}</td>
                            <td> {{ item.piaohao }}</td>
                            <td>{{ item.chupiaohang }}</td>
                            <td>{{ item.piaomianjiage|floatformat:2|intcomma }}</td>
                            <td>{{ item.chupiaoriqi }}</td>
                            <td>{{ item.daoqiriqi }}</td>
                            <td>{{ item.maipiaoren }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}