{% extends "ticket/res_list.html" %}
{% load staticfiles %}


{% block content-header %}
    <h1>
        票据
        <small>列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">票据</li>
    </ol>
{% endblock %}
{% block table_tr %}
    <th>状态</th>
    <th>付款状态</th>
    <th>收款状态</th>
    <th>购买日期</th>
    <th>票号</th>
    <th>出票行</th>
    <th>票面价格</th>
    <th>出票日期</th>
    <th>到期日期</th>
    <th>
        <!--最后一列作为添加数据按钮-->
        <a class="blue" href="{% url 'ticket_add' %}">
            <i class="ace-icon fa fa-search-plus bigger-130"></i>
            添加票据
        </a>
    </th>
{% endblock %}
{% block table_td %}
    <td>
        {% if item.t_status == 1 %}
            <span class="label label-success">在库
        {% elif item.t_status == 3 %}
            <span class="label label-danger">卖出
        {% elif item.t_status == 5 %}
            <span class="label label-info">入池
        {% endif %}
        </span></td>
    <td>
        {% if item.pay_status == 1 %}
            <span class="label label-danger">待付款
        {% elif item.pay_status == 2 %}
            <span class="label label-success">已付款
        {% endif %}
        </span></td>
    <td>
        {% if item.sell_status == 3 %}
            <span class="label label-danger">待收款
        {% elif item.sell_status == 4 %}
            <span class="label label-success">已收款
        {% endif %}
        </span></td>
    <td>{{ item.goumairiqi }}</td>
    <td>{{ item.piaohao }}</td>
    <td>{{ item.chupiaohang }}</td>
    <td>{{ item.piaomianjiage }}</td>
    <td>{{ item.chupiaoriqi }}</td>
    <td>{{ item.daoqiriqi }}</td>
    <td>
        <div class="hidden-sm hidden-xs action-buttons">
            <a class="green" href="{% url 'ticket_index' item.id %}" title="编辑信息">
                <i class="ace-icon fa fa-pencil bigger-130"></i>
            </a></div>
    </td>
{% endblock %}