{% extends "ticket/dashboard.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">

{% endblock %}

{#{% load material_form %}#}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            票据
            <small>详情</small>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">基本信息</h3>
                    </div>
                    <div class="box-body">
                        {{ form.t_status |as_crispy_field }}
                        {{ form.qianpaipiaohao |as_crispy_field }}
                        {{ form.piaohao |as_crispy_field }}
                        {{ form.chupiaohang |as_crispy_field }}
                        {{ form.chupiaoriqi |as_crispy_field }}
                        {{ form.daoqiriqi |as_crispy_field }}
                        {{ form.piaomianjiage |as_crispy_field }}
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">买入信息</h3>
                    </div>
                    <div class="box-body">
                        {{ form.pay_status |as_crispy_field }}
                        {{ form.gongyingshang |as_crispy_field }}
                        {{ form.gourujiage |as_crispy_field }}
                        {{ form.gouruzijinchi |as_crispy_field }}
                    </div>

                </div>

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-4">
                <!-- Horizontal Form -->
                <div class="box box-info" id="sellinfo">
                    <div class="box-header with-border">
                        <h3 class="box-title">卖出信息</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        {{ form.sell_status |as_crispy_field }}
                        {{ form.maipiaoren |as_crispy_field }}
                        {{ form.maichujiage |as_crispy_field }}
                        {{ form.lirun |as_crispy_field }}
                    </div>
                    <!-- /.box-body -->
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="{% static 'plugins/initItems.js' %}"></script>
    <script src="{% static 'plugins/tiexian.js' %}"></script>
    <script type="text/javascript">
        initDatePicker($('.input-daterange'));
        //按利率计算
        function calctxlxone() {
            var je = $("#id_piaomianjiage").val()/10000.0;
            var results = countbylilv(je);
            $("#jxtsd").text(results[0]);
            $("#tztsd").text(results[1]);
            $("#txlxd").text(numeral(results[2]).format('0,0.00'));
            $("#jined").text(numeral(results[3]).format('0,0.00'));
            $("#id_t_gourujiage").val(results[3]);
        }

    </script>

{% endblock %}
