{% extends "ticket/dashboard.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            票据
            <small>{% if index == 1 %}付款
            {% elif index == 2 %}收款{% endif %}订单预览</small>
        </h1>
    </section>

    <section class="content">
        <div class="row">

            <div class="col-xs-12">
                <table id="table_id" class="table table-bordered table-hover">
                    <thead>
                    <th></th>
                    <th style="display: none">ID</th>
                    <th>购买日期</th>
                    <th>出票行</th>
                    <th>供应商</th>
                    <th>票面价格</th>
                    <th>购入价格</th>
                    <th>出票日期</th>
                    <th>到期日期</th>
                    <th>状态</th>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td style="display: none">{{ item.id }}</td>
                            <td><a class="green" href="{% url 'ticket_index' item.id %}" title="查看信息">
                                {{ item.goumairiqi }}
                            </a></td>
                            <td>{{ item.chupiaohang }}</td>
                            <td>{{ item.gongyingshang }}</td>
                            <td>{{ item.piaomianjiage }}</td>
                            <td>{{ item.gourujiage }}</td>
                            <td>{{ item.chupiaoriqi }}</td>
                            <td>{{ item.daoqiriqi }}</td>
                            <td>
                                {% if item.t_status == 1 %}
                                    <span class="label label-success">在库
                                {% elif item.t_status == 3 %}
                                    <span class="label label-danger">卖出
                                {% elif item.t_status == 5 %}
                                    <span class="label label-info">入池
                                {% endif %}
                                </span></td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
                {% if index == 2 %}
                {%  include "ticket/tool_counter.html" %}
                {% endif %}
            <form method='POST' action="{% url 'ticket_createorder' %}" id="signupForm"
                  onsubmit="return check();">{% csrf_token %}
                {% if index == 2 %}
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="disabledTextInput">买票人</label>
                        <select class="js-single form-control" name="maipiaoren" required>
                            {% for v in maipiaoren %}
                                <option value="{{ v }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <table id="table_id" class="table table-bordered table-hover">
                        <thead>
                        <th>票面价格</th>
                        <th>卖出价格</th>
                        </thead>
                        {% for price in prices %}
                            <tbody>
                            <tr>
                                <td><a>{{ price }}</a></td>
                                <td><input type="number" name="maichujiage{{ price }}" value="0" min="0"
                                           class="numberinput" required=""></td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>

                </div>
                {% endif %}
                <div class="col-xs-3 pull-right">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ title }}订单信息:：</h3>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>已选择:</th>
                                    <td style="text-align:right;"><a id="selected_num">{{ selected_num }}</a><b>张</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th>票面价格:</th>
                                    <td style="text-align:right;"><a
                                            id="selected_piaomian">{{ selected_piaomian }}</a><b>元</b></td>
                                </tr>
                                <tr>
                                    <th>购入价格:</th>
                                    <td style="text-align:right;"><a id="selected_real">{{ selected_real }}</a><b>元</b>
                                    </td>
                                </tr>
                                {% if index == 2 %}
                               <tr>
                                    <th>卖出价格:</th>
                                    <td style="text-align:right;"><a id="selected_maichu"></a><b>元</b></td>
                                </tr>
                                {% endif %}
                               </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            <input name="ordertype" value="{{ index }}" style="display: none"
                                   class="textinput textInput form-control"
                                   id="id_ordertype" type="text">
                            <input name="ids" value="{{ ids }}" style="display: none"
                                   class="textinput textInput form-control"
                                   id="id_ids" type="text">
                            <button type="submit" class="btn btn-warning center-block" id="all_checked">
                                生成{% if index == 1 %}付款
                                    {% elif index == 2 %}收款{% endif %}订单
                                <i class="ace-icon fa fa-shopping-cart icon-on-right bigger-110"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>

{% endblock %}

{% block script %}
    <!-- page script -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'plugins/initItems.js' %}"></script>
    <script src="{% static 'plugins/tiexian.js' %}"></script>

    <script type="text/javascript">
        initDatePicker($('.input-daterange'));

        $(document).ready(function () {
            $('.js-single').select2({
                tags: true
            });
            var t = $('#table_id').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                'scrollY': 250,
                "language": {
                    "processing": "处理中...",
                    "lengthMenu": "显示 _MENU_ 项结果",
                    "zeroRecords": "没有匹配结果",
                    "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "infoFiltered": "(由 _MAX_ 项结果过滤)",
                    "infoPostFix": "",
                    "search": "搜索:",
                    "searchPlaceholder": "搜索...",
                    "url": "",
                    "emptyTable": "表中数据为空",
                    "loadingRecords": "载入中...",
                    "infoThousands": ",",
                    "paginate": {
                        "first": "首页",
                        "previous": "上页",
                        "next": "下页",
                        "last": "末页"
                    },
                    "aria": {
                        "paginate": {
                            'first': '首页',
                            'previous': '上页',
                            'next': '下页',
                            'last': '末页'
                        },
                        "sortAscending": ": 以升序排列此列",
                        "sortDescending": ": 以降序排列此列"
                    },
                    "decimal": "-",
                    "thousands": "."
                },
            });
        });
    </script>

{% endblock %}
