{% extends "ticket/dashboard.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{#{% load material_form %}#}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            平均天数
        </h1>
    </section>

    <section class="content">
		<div class="row">
				  <div class="col-lg-12 page-header bg-info">
		<h2 id='sumMoney' >总金额: 0</h2>
		<h2 id='result' >平均天数: 0</h2>
		</div>
		</div><!-- /.row -->
		<div class="row">
		  <div class="col-lg-3">
			<div class="input-group">
		  <span class="input-group-addon">日期</span>
			  <input type="text" id="datep" class="form-control" aria-label="...">
			</div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		  <div class="col-lg-3">
			<div class="input-group">
		  <span class="input-group-addon">金额</span>
			  <input type="number" id="money" class="form-control" aria-label="...">
			</div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		  <div class="col-lg-3">
			<div class="input-group">
			<button type="button" id = "subm" class="btn btn-success">添加</button>
			</div><!-- /input-group -->
		  </div>

		</div><!-- /.row -->
		<div class="row">
				  <div class="col-lg-6">

		<table class="table table-striped table-bordered">
		  <thead>
			<tr>
			  <th>到期时间</th>
			  <th>出票金额</th>
			  <th>天数</th>
			  <th></th>
			</tr>
		  </thead>
		  <tbody id="thebody">

		  </tbody>
		 <!-- <tfoot id="thefoot">-->
			<!--<tr>-->

			<!--  <th id="avgMoney" td colspan="2"></th>-->
			<!--  <th id="avgDays"  td colspan="2"></th>-->
			<!--</tr>-->
		 <!-- </tfoot>-->
		</table>
		</div>
		</div><!-- /.row -->
    </section>

{% endblock %}


{% block script %}
    <!-- page script -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/initItems.js' %}"></script>
    <script src="{% static 'plugins/tiexian.js' %}"></script>
 	<script>

        initDatePicker($('#datep'));

		function delItem(that) {
			console.log('delItem');
			console.log($(that).html());
			$(that).parent().parent().remove();
			sumItems();

		}
		function addItem() {
			console.log('addItem');
			console.log($('#datep').val());
			 　　var now = new Date();
			 now.setHours(0);
			 now.setMinutes(0);
			 now.setSeconds(0);
			 now.setMilliseconds(0);
			  　　var sdate = new Date($('#datep').val());
			var days = (sdate - now);
			//var days = sdate.getTime() - now.getTime();
		　　var day = Math.floor(days / (1000 * 60 * 60 * 24));
			console.log(days+'---'+day);
			var trr = "<tr data-d='"+day+"' data-m='"+$('#money').val()+"'>"
			+"<td>"+$('#datep').val()+"</td><td>"+$('#money').val()+"</td><td>"+day
			+'<td><button type="button" onclick="delItem(this)" class="btn btn-danger">删除</button></td>'+"</td></tr>";

			$('#thebody').append(trr);

		}


		function sumItems() {
			console.log('sumItems');
			var sumMoney = 0.0;
			var sumMoneyDays = 0.0;
			$("#thebody").find('tr').each(function(i, val) {
				sumMoney = sumMoney + $(this).attr('data-m')*1;
				sumMoneyDays = sumMoneyDays + $(this).attr('data-d')*$(this).attr('data-m');
			});

			console.log(sumMoney+'-----'+sumMoneyDays);
			$('#result').text('平均天数:  '+(sumMoneyDays/sumMoney).toFixed(2));
			$('#sumMoney').text('总金额:  '+(sumMoney).toFixed(2));
// 			$('#avgMoney').text(sumMoney);
// 			$('#avgDays').text('平均天数:  '+sumMoneyDays/sumMoney);

		}
		$('#subm').click(function () {
				addItem();
				sumItems();
			});
		$('#sum').click(function () {
				sumItems();
			});
	</script>


{% endblock %}