{% extends "ticket/dashboard.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
{% endblock %}

{% load crispy_forms_tags %}
{#{% load material_form %}#}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            贴现
        </h1>
    </section>

    <section class="content">
            <div class="row">
                {%  include "ticket/tool_counter.html" %}
            </div>
    </section>

{% endblock %}

{% block script %}

    <!-- bootstrap datepicker -->
    <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'plugins/tiexian.js' %}"></script>

{% endblock %}
