{% extends "ticket/dashboard.html" %}
{% load staticfiles %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            贴现
        </h1>
    </section>

    <section class="content">
            <div class="row">
                {%  include "ticket/tool_counter.html" %}
            </div>
    </section>

{% endblock %}

{% block script %}
    <script src="{% static 'plugins/initItems.js' %}"></script>
    <script src="{% static 'plugins/tiexian.js' %}"></script>
    <script >
        initDatePicker($('.input-daterange'));
    </script>
{% endblock %}
