<div class="col-md-4">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">贴现计算器</h3>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="options" id="piaozhi" autocomplete="off" checked>纸票
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="options" id="piaodian" autocomplete="off">电票
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <span class="destit">票面金额 (万元)</span>
                <div class="inp-box">
                    <input id="tje" name="je" class="textinput textInput form-control" value=""
                           type="number">
                </div>
            </div>
            <div class="col-md-6" style="display: block;">
                <div class="li-inpbox">
                    <span class="destit">月利率 (‰)</span>
                    <div class="inp-box">
                        <input id="txlvi" name="txlv" onblur="getVal(this.value,'m')"
                               class="textinput textInput form-control"
                               value="" type="number">
                    </div>
                </div>
                <div class="li-inpbox li-lastbox">
                    <span class="destit">年利率 (%)</span>
                    <div class="inp-box">
                        <input id="yxlvi" name="yxlv" onblur="getVal(this.value,'y')"
                               class="textinput textInput form-control"
                               value="" type="number">
                    </div>
                </div>
                <div class="li-inpbox">
                    <span class="destit">贴现日期</span>
                    <div class="inp-box">
                        <input id="datepicker" name="outpjdate"
                               class="textinput textInput form-control dateinput"
                               value="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <span class="destit">到期日期</span>
                    <div class="inp-box">
                        <input id="pjendpicker" name="pjenddate"
                               class="textinput textInput form-control dateinput"
                               value="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <span class="destit">调整天数 (天)</span>
                    <div class="inp-box">
                        <input name="tzts" class="textinput textInput form-control" value=""
                               type="number">
                    </div>
                </div>
                <div class="form-group">
                    <span class="destit">每十万元手续费`(元)</span>
                    <div class="inp-box">
                        <input name="sxf" class="textinput textInput form-control" value="0"
                               type="number">
                    </div>
                </div>
                <input id="lilvbtn" class="btn btn-primary" value="按利率计算" onclick="calctxlxone()"
                       type="button">

            </div>
            <div class="col-md-6" style="display: block;">
                <div class="form-group">
                    <span class="destit">每10万扣费(元)</span>
                    <div class="controls">
                        <input name="everyten" class="textinput textInput form-control" value=""
                               type="number">
                    </div>
                </div>
                <input id="tiexianbtn" class="btn btn-success" value="按贴现计算" onclick="calctxlxoneb()"
                       type="button">

                <br>
                <br>
                <br>
                <h5>计息天数:<a id="jxtsd"></a>天</h5>
                <h5>贴现利息: <a id="txlxd"></a>元</h5>
                <h5>贴现金额: <a id="jined"></a>元</h5>
                <div class="form-group">
                    <span class="destit">每十万元价格`(元)</span>
                    <div class="inp-box">
                        <input id="everytenprice" class="textinput textInput form-control" value=""
                               type="number">
                    </div>
                </div>
                <input id="getlilv" class="btn btn-success" value="计算利率" onclick="getlilv()"
                       type="button">
                <br>
                <br>
                <input id="exportbtn" class="btn btn-success" value="填入" onclick="exportbtn()" style="display:none"
                       type="button">
            </div>
        </div>
        <div class="box-footer ">
        </div>
        <!-- /.box-body -->
    </div>

</div>
